body {
    background-color: powderblue;
}

.main {
    text-align: center;
}

.GFG {
    font-family: "Lucida Console", "Courier New", monospace;
    color: #97DFFC;
    font-size: 50px;
    font-weight: bold;
}

#geeks {
    font-style: bold;
    font-size: 20px;
}
